.card-title {
  text-transform: uppercase;
  text-align: center;
  font-size: calc(1.235rem + .9vw);
  max-font-size: 2rem;
  word-break: break-word;
  hyphens: auto;
}

.card{
  overflow: hidden;
  box-shadow: 0 3px 20px rgba(0,0,0,0.16);
  &:hover {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
    transition: all 0.3s ease;
  }
}

.card-footer{
  text-align: center;
  a.btn{
    color: white;
    border: none;
  }
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

