//
// Variables
//
@import "variables";

//
// Import needed Bootstrap Package Files
//
@import "EXT:bootstrap_package/Resources/Public/Scss/bootstrap5/theme";



h1, h3, h4, h5, h6 {
  font-family: 'Baskerville Old Face', serif;
}


/* H2-Überschriften in Rot */
h2 {
  font-family: 'Baskerville Old Face', serif;
  color: $primary;
}

hr
{
  color: $secondary;
}


.frame-backgroundimage-container {
  min-height: 300px;
  position: relative;
}


body {
  padding-top: 100px;
  font-size: 18px;
  line-height: 1.6;
}


.btn-primary {
  background-color: $primary;
  color: white;
  transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-primary:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  color: white;
}









@import "main_card";
@import "table";
@import "navbar";
@import "carousel";
@import "recipe";
@import "news";
@import "footer";

